* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}
.head1 {
 font-family: 'Sucrose Bold Two';
  margin: auto;
  font-size: 70px;
  font-weight: 500;
  text-allign: center;
  color: #feffff;
  border-right: 4px solid #000;
  animation: cursor 1s infinite step-end, typing 15s infinite steps(16);
  white-space: nowrap;
  overflow: hidden;
}

.form-box {
  width: 100%;
  max-width: 450px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-10%, 10%);
  background: color #ffa;
  ;
  padding: 50px 60px 70px;
  text-align: center;


}

.form-box h1 {
  font-size: 30px;
  color: #3c00a0;
  position: relative;

}

.form-box h1::after {
  content: '';
  width: 30px;
  height: 40px;
  border-radius: 3px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%);
}

.input-field {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;


}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;


}

.input-field {
  margin-left: 15px;
  color: #999;

}

.btn-field {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;

}

button {
  flex-basis: 100%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  border-radius: 100px;
  border: 10;
  outline: 0;
  cursor: pointer;
  transition: background 0.5s;

}